body {
    margin: 10px;
    font-family: Georgia, serif;
}

#div-1 {
    align-content: flex-end;
    background-color: rgb(130, 238, 139);
    flex-basis: 30%
}

img {
    border-radius: 100%;
    height: 250px;
    width: 250px;
    margin-left: 2px;
    margin-top: 2px;
    border-color: black;

    box-shadow: 5px 5px 8px rgb(0, 0, 0);
    margin: 10px;
}

#div-2 {
    padding-left: 20px;
    background-color: rgb(130, 238, 139);
    color: rgb(0, 0, 0);
}

#cont-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: whitesmoke;

}

.shadow {

    padding: 10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin: 20px;
}
.shadow1{
    padding: 20px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin: 20px;
}
.shadow2{
    padding: 20px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin: 20px;
}

#div-3 {
    line-height: 2.3;
    background-color: khaki;
}

#div-4 {
    padding-left: 20px;
    background-color: cornsilk;
}

#div-5 {
    background-color: lavender;
}
#div-6
{
    background-color: rgb(120, 190, 199);
}
#div-7
{
    background-color: rgb(231, 131, 235);
}

th {
    text-align: center;
    height: 30px;
}

td {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#myProgress {
    width: 600px;
    background-color: lightgray;
    border-radius: 25px;
}

#myBar {
    height: 20px;
    border-radius: 25px;
}

#div-6 {
    padding-left: 20px;
    line-height: 2.3;
}

#country {
    width: 170px;
    height: 20px;
}

label{
    font-weight: bold;
}
